// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.horizontal > li { display: inline-block; }

//.p1 { display: inline-block; }

ul.details > li { display: inline-block; }

//.d2 { display: inline-block; }

ul.actdetails > li { display: inline-block; }

header{box-sizing: border-box;
  position: fixed;
  margin-top: 18px;
  width: 100%;
  float: top;
  border-bottom: solid #6f6d6f 1px;
  padding: 0%;
  background-color: #ffffff;}

ul.profile1{list-style-type: none;
  clear: center;}

ul.profile {
  box-sizing: border-box;
  border-right: solid #a3a1a3 1px;
  margin-top: 157px;
  width: 20%;
  height: 100%;
  position: fixed;
  float: left;
  padding: 0%;
}

div.allActivities{
  box-sizing: border-box;
  margin-top: 200px;
  margin-left: 25%;
  float:left;
  list-style-type: none;
  width: 40%;
  }


ul.activity{
  list-style-type: none;
}



ul.profile{
  text-align: left;

  
}

ul.edit_pro{
  margin-top:140px;
  text-align:left;
  margin-left: 300px;
}

ul.friends{
  margin-top:160px;
  text-align:left;
  margin-left: 300px;
}

ul.activities{
  margin-top:160px;
  text-align:left;
  margin-left: 300px;
}

ul.new_activity{
  margin-top:120px;
  text-align:left;
  margin-left: 300px;
}

ul.new_friendship{
  margin-top:120px;
  text-align:left;
  margin-left: 300px;
}

ul.show_profile{
  margin-top:120px;
  text-align:left;
  margin-left: 300px;
}

ul.show_friendships{
  margin-top:150px;
  text-align:left;
  margin-left: 300px;
}

ul.new_sport{
  margin-top:150px;
  text-align:left;
  margin-left: 300px;
}
